.top_fixed{

    font-family: Roboto;
    background-image: url("/images/top_back.jpg");
    height: 20%;
    min-height: 300px;
    background-position: center;
    background-repeat: no-repeat;
}
.top_fixed>nav{
    height: 100px;
    width: 100%;
    background-color: rgba(255,255,255,0.42);
    margin-bottom: 30px;
    margin-left: 0px !important;
}
.brand{padding-top: 12px;}
.nav-link:hover{
    color: rgba(0,0,0,.5) !important;


}
.langpopup{
    min-width: 4rem;
}
.currencypopup{
    min-width: 6rem;
}